html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= "URL Shortener"
        link(rel="stylesheet" type="text/css" href="./../../public/css/mystyles.css")
        link(rel="stylesheet" type="text/css" href="./../../public/css/index.css")
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(type="text/javascript" src="./../../public/js/index.js")
    body
        .section
            .hero.is-primary
                .hero-body
                    .container
                        h1.title URL Shortener
                        h2.subtitle Generates a short url
        .section
            .container
                div.box
                    form(id="urlForm" method="post")
                        div.field.is-grouped
                            p.control.is-expanded
                                input(type="text" name="url" placeholder="Enter a long url").has-text-centered.input
                            button.button.is-primary Shorten
                        div(class="newUrl").hide
                            div.box.has-background-link
                                div.columns.is-centered
                                    div.column.is-3
                                        span(id="result").is-medium.has-text-white
                                    div.column.is-1
                                        span(class="copy").tag.pointer Copy
