html
    head
        title= "URL Shortener"
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(type="text/javascript" src="./../../public/js/index.js")
    body
        h1= "URL Shortener"
        form(id="urlForm" method="post")
            label Enter url
            input(type="text" name="url")
            button Shorten
        span(id="result")